###########################################################################
# Custom macros for Happy Hare
###########################################################################

###########################################################################
# Helper macro for tip cutting
#
[gcode_macro _CUT_TIP_MOVE_TO_CUTTER_PIN]
description: Helper to move the toolhead to the target pin in either safe or faster way, depending on toolhead clearance
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC|float %}
    {% set pin_park_y_loc = params.PIN_PARK_Y_LOC|float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}

    {% set safe_margin_x, safe_margin_y = vars.safe_margin_xy|map('float') %}
    {% set travel_speed = vars['travel_speed']|float %}
    {% set cutting_axis = vars['cutting_axis'] %}

    {% if ((printer.gcode_move.gcode_position.x - pin_park_x_loc)|abs < safe_margin_x) or ((printer.gcode_move.gcode_position.y - pin_park_y_loc)|abs < safe_margin_y) %}
        # Make a safe but slower travel move
        {% if cutting_axis == "x" %}
            G1 X{pin_park_x_loc} F{travel_speed * 60}
            G1 Y{pin_park_y_loc} F{travel_speed * 60}
        {% else %}
            G1 X{pin_park_x_loc+5} F{travel_speed * 60}
            G1 Y{pin_park_y_loc} F{travel_speed * 60}
            G1 X{pin_park_x_loc} F{travel_speed * 60}
        {% endif %}
    {% else %}
        G1 X{pin_park_x_loc+5} Y{pin_park_y_loc} F{travel_speed * 60}
        G1 X{pin_park_x_loc} Y{pin_park_y_loc} F{travel_speed * 60}
    {% endif %}


###########################################################################
# Helper macro for tip cutting
#
[gcode_macro _CUT_TIP_DO_CUT_MOTION]
description: Helper to do a single cut movement
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC | float %}
    {% set pin_park_y_loc = params.PIN_PARK_Y_LOC | float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set cutting_axis = vars['cutting_axis'] %}

    {% set pin_loc = vars['pin_loc_compressed']|default(-999)|float %}
    {% if pin_loc != -999 %}
        # Old one-dimensional pin_loc_compressed config
        {% if cutting_axis == "x" %}
            {% set pin_loc_compressed_x = pin_loc %}
            {% set pin_loc_compressed_y = pin_park_y_loc %}
        {% else %}
            {% set pin_loc_compressed_x = pin_park_x_loc %}   
            {% set pin_loc_compressed_y = pin_loc %}
        {% endif %}
    {% else %}
        # New config
        {% set pin_loc_compressed_x, pin_loc_compressed_y = vars.pin_loc_compressed_xy|map('float') %}
    {% endif %}
        
    {% set cut_fast_move_fraction = vars['cut_fast_move_fraction']|float %}
    {% set cut_fast_move_speed = vars['cut_fast_move_speed']|float %}
    {% set cut_slow_move_speed = vars['cut_slow_move_speed']|float %}
    {% set cut_dwell_time = vars['cut_dwell_time']|float %}
    {% set evacuate_speed = vars['evacuate_speed']|float %}
    {% set rip_length = vars['rip_length']|float %}
    {% set rip_speed = vars['rip_speed']|float %}


    {% set fast_slow_transition_loc_x = (pin_loc_compressed_x - pin_park_x_loc) * cut_fast_move_fraction + pin_park_x_loc|float %}
    {% set fast_slow_transition_loc_y = (pin_loc_compressed_y - pin_park_y_loc) * cut_fast_move_fraction + pin_park_y_loc|float %}
    G1 X{fast_slow_transition_loc_x} Y{fast_slow_transition_loc_y} F{cut_fast_move_speed * 60} # Fast move to initiate contact of the blade with filament
    G1 X{pin_loc_compressed_x} Y{pin_loc_compressed_y} F{cut_slow_move_speed * 60} # Do the cut in slow move

    G4 P{cut_dwell_time}
    {% if rip_length > 0 %}
        G1 E-{rip_length} F{rip_speed * 60}
    {% endif %}

    G1 X{pin_park_x_loc+5} Y{pin_park_y_loc} F{evacuate_speed * 60} # Evacuate
    G1 X{pin_park_x_loc+5} Y{pin_park_y_loc+20} F{evacuate_speed * 60} # Evacuate



###########################################################################
# Helper macro purging filament
#
[gcode_macro _MMU_PURGE]
description: Simple reference filament purge with pulsed extrusion

gcode:
    # Happy Hare retraction settings from sequence macros
    {% set sequence_vars = printer['gcode_macro _MMU_SEQUENCE_VARS'] %}
    {% set park_vars = printer['gcode_macro _MMU_PARK'] %}
    {% set retracted_length = park_vars.retracted_length %}
    {% set retract_speed = sequence_vars.retract_speed|int %}
    {% set unretract_speed = sequence_vars.unretract_speed|int %}

    # Happy Hare provided purge data
    {% set toolchange_purge_volume = printer.mmu.toolchange_purge_volume|default(0)|float %}
    {% set extruder_filament_remaining = printer.mmu.extruder_filament_remaining|default(0)|float %}

    # Not used in reference macro but full purge volume matrix from the slicer can be loaded like this
    # https://github.com/moggieuk/Happy-Hare/wiki/Gcode-Preprocessing)
    {% set pv = printer.mmu.slicer_tool_map.purge_volumes %}

    # Calculate amount of filament to purge
    {% set filament_diameter = printer.configfile.config.extruder.filament_diameter|float %}
    {% set filament_cross_section = (filament_diameter / 2) ** 2 * 3.1415 %}
    {% set purge_len = (toolchange_purge_volume / filament_cross_section) + extruder_filament_remaining %}

    # Pulse parameters
    {% set pulse_fast_len = 5.0 %}
    {% set pulse_fast_speed = 8.0 %}   # mm/s
    {% set pulse_slow_len = 1.0 %}
    {% set pulse_slow_speed = 4.0 %}   # mm/s
    {% set cycle_len = pulse_fast_len + pulse_slow_len %}

    # Undo Happy Hare retraction before starting purge
    {% if retracted_length > 0 %}
        MMU_LOG MSG="Un-retracting {retracted_length}mm"
        M83 ; Extruder relative
        G1 E{retracted_length} F{unretract_speed|abs * 60}
    {% endif %}

    MMU_LOG MSG="Purging {purge_len | round(1)}mm of filament (pulsed 5mm@8mm/s + 1mm@4mm/s)"

    # Perform pulsed purge
    M83 ; Extruder relative
    {% set num_cycles = (purge_len // cycle_len) | int %}
    {% set remainder = purge_len - (num_cycles * cycle_len) %}

    {% for _ in range(num_cycles) %}
        G1 E{pulse_fast_len} F{pulse_fast_speed * 60}
        G1 E{pulse_slow_len} F{pulse_slow_speed * 60}
    {% endfor %}

    {% if remainder > 0 %}
        {% set first = [remainder, pulse_fast_len]|min %}
        G1 E{first} F{pulse_fast_speed * 60}
        {% if remainder > pulse_fast_len %}
            {% set second = remainder - pulse_fast_len %}
            G1 E{second} F{pulse_slow_speed * 60}
        {% endif %}
    {% endif %}

    # Retract to match what Happy Hare is expecting
    {% if retracted_length > 0 %}
        MMU_LOG MSG="Retracting {retracted_length}mm"
        M83 ; Extruder relative
        G1 E-{retracted_length} F{retract_speed|abs * 60}
    {% endif %}

    MMU_LOG MSG="Purging complete"


###########################################################################
# MMU LED Effects
#

[mmu_led_effect mmu_static_white_dim]
define_on:    gates
layers:       static 0 0 top (0.3,0.3,0.3)

[mmu_led_effect mmu_static_white]
define_on:    gates
layers:       static 0 0 top (1,1,1)

[mmu_led_effect mmu_ready_white]
define_on:    gates
layers:       static 0 0 top (1,1,1)

[mmu_led_effect mmu_ready_red]
define_on:    gates
layers:       static 0 0 top (1,0,0)